@import './variables.css';

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* * + * {
  margin-top: 1.5em;
} */

body {
  margin: 0;
  color: var(--colour-text);
  font-family: 'Inter UI', sans-serif;
  background-color: var(--colour-bg);
}

h1 {
  margin-bottom: 0;
  font-size: 3.5em;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 1.2em;
  font-weight: 700;
  font-size: var(--font-size-xxlg);
}

h3 {
  margin-top: 1.7em;
  font-weight: 600;
  font-size: var(--font-size-xlg);
}

h4 {
  margin-top: 1.5em;
  font-weight: 600;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
}

p,
ul {
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.5;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  padding-left: var(--baseline-3);
}

li {
  margin-bottom: var(--baseline-1);
}

button {
  display: inline-flex;
  align-items: center;
  padding: 0.6em;
  color: var(--colour-text);
  font-size: 1em;
  background-color: var(--colour-button);
  border: none;
  border-right: 2px solid var(--colour-black);
  border-bottom: 2px solid var(--colour-black);
  border-radius: var(--border-radius);
  cursor: pointer;
}

button:hover {
  color: var(--colour-secondary);
}

a:link,
a:visited {
  color: var(--colour-secondary);
  text-decoration: none;
}

pre {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* font-size: var(--font-size-xlg); */
  font-family: Inconsolata, monospace;
}

blockquote {
  margin: 0;
  padding: var(--baseline);
  background-color: var(--colour-black);
  border-left: var(--baseline) solid var(--colour-primary);
}

code {
  color: var(--colour-yellow);
  font-family: Inconsolata, monospace;
}
