@import url('https://rsms.me/inter/inter-ui.css');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  color: var(--colour-text);
  font-family: 'Inter UI', sans-serif;
  background-color: var(--colour-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
}

h1 {
  margin-bottom: 0;
  font-size: 3.5em;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 1.2em;
  font-size: 2.5em;
}

h3 {
  margin-top: 1.7em;
  font-size: 1.5em;
}

h4 {
  margin-top: 1.5em;
  font-size: 1.2em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  /* margin-right: 1em; */
  padding: 0.6em;
  color: var(--colour-text);
  font-size: 1em;
  background-color: var(--colour-button);
  border: none;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
}
