:root {
  --colour-bg: #111;
  --colour-text: #ccc;
  --colour-button: #222;
  --colour-primary: #5f0fd1;
  --colour-secondary: #0fa6d1;
  --colour-white: #eee;

  /* Fonts */
  --font-size-xs: 0.7rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
}

.text-uppercase {
  font-weight: 300;
  font-size: var(--font-size-sm);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
