:root {
  --colour-bg: #131313;
  --colour-text: #ccc;
  --colour-button: #222;
  --colour-primary: #5f0fd1;
  --colour-secondary: #0fa6d1;
  --colour-white: #eee;
  --colour-black: #050505;
  --colour-grey-dark: #111;
  --colour-grey: #222;
  --colour-grey-light: #333;
  --colour-grey-lighter: #666;
  --colour-grey-lightest: #999;
  --colour-pink: #d10fc9;
  --colour-purple: var(--colour-primary);
  --colour-blue: #0fa6d1;
  --colour-green: #0fd165;
  --colour-yellow: #e7d210;
  --colour-orange: #ff5c13;
  --colour-yellow-dark: #a39513;

  /* Fonts */
  --font-size-xs: 0.7rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xlg: 1.5rem;
  --font-size-xxlg: 2rem;
  --font-size-xxxlg: 3.5rem;

  /* Baseline */
  --baseline: 0.5rem;
  --baseline-half: calc(var(--baseline) * 0.5);
  --baseline-1: var(--baseline);
  --baseline-2: calc(var(--baseline) * 2);
  --baseline-3: calc(var(--baseline) * 3);
  --baseline-4: calc(var(--baseline) * 4);
  --baseline-5: calc(var(--baseline) * 5);
  --baseline-8: calc(var(--baseline) * 8);
  --baseline-16: calc(var(--baseline) * 16);

  /* Border Radius */
  --border-radius: 4px;

  /* Containers */
  --container-md: 45rem;
}

.text-uppercase {
  font-weight: 300;
  font-size: var(--font-size-sm);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

:export {
  colour-primary: var(--colour-primary);
  colour-secondary: var(--colour-secondary);
  colour-bg: var(--colour-bg);
  colour-black: var(--colour-black);
  colour-white: var(--colour-white);
  colour-pink: var(--colour-pink);
  colour-purple: var(--colour-purple);
  colour-blue: var(--colour-blue);
  colour-green: var(--colour-green);
  colour-yellow: var(--colour-yellow);
  colour-orange: var(--colour-orange);
  colour-yellow-dark: var(--colour-yellow-dark);
}
