/*
 * MIXINS
 * ========================================================================== */

/*
 * Media Queries
 * ------------------------------------------------------------------------ */

@mixin media-xs {
  @media only screen and (min-width: $container-width-xs) {
    @content;
  }
}

@mixin media-sm {
  @media only screen and (min-width: $container-width-sm) {
    @content;
  }
}

@mixin media-md {
  @media only screen and (min-width: $container-width-md) {
    @content;
  }
}

@mixin media-lg {
  @media only screen and (min-width: $container-width-lg) {
    @content;
  }
}

@mixin media-xlg {
  @media only screen and (min-width: $container-width-xlg) {
    @content;
  }
}
