/*
 * TEXT
 * Text styles that can be used by @extend
 * ========================================================================== */

.textUppercase {
  font-weight: 300;
  font-size: var(--font-size-sm);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
