/*
 * VARIABLES
 * Shared variables for all pages and components
 * ========================================================================== */

/*
 * Containers
 * ------------------------------------------------------------------------ */

$container-width-xs: 20rem;
$container-width-sm: 33.5rem;
$container-width-md: 40rem;
$container-width-lg: 60rem;
$container-width-xlg: 80rem;
