@import '../../styles/global.scss';

.trackInfo {
  display: block;
  margin-right: var(--baseline);
  padding: var(--baseline);
  background-color: var(--colour-black);

  & h2,
  & h3 {
    @extend .textUppercase;

    color: var(--colour-grey-lightest);
    font-size: var(--font-size-xs);
  }

  & h2 {
    margin-bottom: var(--baseline-half);
  }

  & h3 {
    padding-top: var(--baseline-1);
    border-top: 1px solid var(--colour-bg);
  }

  & p {
    margin-bottom: 0;
  }

  & select,
  & input {
    width: 100%;
  }
}

.name {
  font-weight: 500;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
}

.effect {
  margin-bottom: 1rem;
  padding-top: var(--baseline);
  border-top: 1px solid var(--colour-bg);

  p {
    margin-bottom: var(--baseline);
    text-transform: capitalize;
  }
}
