@import '../../styles/global.css';

.trackInfo {
  display: block;
  margin-right: var(--baseline);
  padding: var(--baseline);
  background-color: var(--colour-black);

  & h2,
  & h3 {
    @extend .text-uppercase;
  }

  & h3 {
    padding-top: var(--baseline);
    font-size: var(--font-size-xs);
    border-top: 1px solid var(--colour-bg);
  }

  & select,
  & input {
    width: 100%;
  }
}

.name {
  font-weight: 500;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
}
