@import '../../styles/global.css';

.trackInfo {
  display: block;

  & h2,
  & h3 {
    @extend .text-uppercase;
  }

  & h3 {
    font-size: var(--font-size-xs);
  }
}

.name {
  font-size: var(--font-size-lg);
}
