@import '../../styles/global.scss';

.stepsEditor {
  margin-bottom: 0;
  border-top: 1px solid var(--colour-black);
  border-right: 1px solid var(--colour-black);
  border-bottom: 2px solid var(--colour-black);
  border-left: 2px solid var(--colour-black);
}

.info {
  padding: var(--baseline);
  background: var(--colour-black);
}

.row {
  display: flex;
}

.step.stepKey {
  flex: 2;
  color: var(--colour-bg);
  background-color: var(--colour-white);
}

.rowIsAccidental .stepKey {
  color: var(--colour-white);
  background-color: var(--colour-black);
}

.step {
  display: inline-block;
  flex: 1;
  margin-right: 0;
  padding: 0.5em 0;
  // color: ;
  font-weight: 400;
  font-size: var(--font-size-xs);
  text-align: center;
  background-color: var(--colour-button);
  border: none;
  border-top: 1px solid var(--colour-black);
  border-right: 1px solid var(--colour-black);
  border-radius: 0;
  cursor: pointer;

  @include media-sm {
    font-size: var(--font-size-xs);
  }

  .header &:first-child {
    flex: 2;
  }
}

.step:nth-child(4n + 2) {
  background-color: var(--colour-grey-light);
}

.step.stepIsCurrent {
  background-color: var(--colour-secondary);

  .header & {
    background-color: var(--colour-primary);
  }
}
