.stepsEditor {
  margin-bottom: 0;
  border-top: 1px solid var(--colour-black);
  border-right: 1px solid var(--colour-black);
  border-bottom: 2px solid var(--colour-black);
  border-left: 2px solid var(--colour-black);
}

.row {
  display: flex;
}

.step.stepKey {
  color: var(--colour-bg);
  background-color: var(--colour-white);
}

.rowIsAccidental .stepKey {
  color: var(--colour-white);
  background-color: var(--colour-black);
}

.step {
  display: inline-block;
  flex: 1;
  margin-right: 0;
  padding: 0.5em 0;
  font-size: 0.8em;
  text-align: center;
  background-color: var(--colour-button);
  border: none;
  border-top: 1px solid var(--colour-black);
  border-right: 1px solid var(--colour-black);
  cursor: pointer;
}

.stepIsCurrent {
  background-color: var(--colour-secondary);
}
