.dawSequencer {
  position: relative;
  display: grid;
  grid-template-areas:
    'corner ruler'
    'summaries clips';
  grid-template-columns: 8rem auto;
  grid-template-rows: 2rem auto;
  width: 100%;
  margin-bottom: var(--baseline-1);
  overflow: auto;
  background-color: var(--colour-black);
  background-image: linear-gradient(
    90deg,
    var(--colour-bg) 3.13%,
    var(--colour-black) 3.13%,
    var(--colour-black) 50%,
    var(--colour-bg) 50%,
    var(--colour-bg) 53.13%,
    var(--colour-black) 53.13%,
    var(--colour-black) 100%
  );
  background-size: 32px 32px;
  border-bottom: 2px solid var(--colour-black);
  border-left: 2px solid var(--colour-black);
}

.corner {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  grid-area: corner;
  width: 100%;
  height: 100%;
  background-color: var(--colour-black);
}

.ruler {
  grid-area: ruler;
}

.trackSummaries {
  position: sticky;
  left: 0;
  grid-area: summaries;
  background-color: var(--colour-bg);
}

.clips {
  grid-area: clips;
}

.track {
  display: flex;

  &:last-child {
    margin-top: var(--baseline);
    margin-left: var(--baseline);
  }
}

.trackSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  padding: var(--baseline-half);
  background-color: var(--colour-bg);
  border-bottom: 2px solid var(--colour-black);
}

.trackClips {
  display: flex;
  width: 100%;
  height: 6rem;
  border-bottom: 2px solid var(--colour-bg);
}

.stepsChooserButton {
  text-transform: capitalize;
}

.stepsChooserButtonActive {
  color: var(--colour-secondary);
  font-weight: bold;
}

.removeButton {
  align-self: flex-end;
  width: fit-content;
}
