@import '../../styles/global.scss';

.dawSequencer {
  position: relative;
  display: grid;
  grid-template-areas:
    'corner ruler'
    'summaries clips';
  grid-template-columns: 9rem auto;
  grid-template-rows: 2rem auto;
  width: 100%;
  margin-bottom: var(--baseline-1);
  overflow: auto;
  background-color: var(--colour-black);
  border-bottom: 2px solid var(--colour-black);
  border-left: 2px solid var(--colour-black);
}

.corner {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  grid-area: corner;
  width: 100%;
  height: 100%;
  background-color: var(--colour-black);
}

.ruler {
  position: sticky;
  top: 0;
  z-index: 2;
  grid-area: ruler;
}

.playhead {
  z-index: 3;
}

.trackSummaries {
  position: sticky;
  left: 0;
  z-index: 3;
  grid-area: summaries;
  background-color: var(--colour-bg);
}

.clips {
  grid-area: clips;
}

.track {
  display: flex;

  &:last-child {
    margin-top: var(--baseline);
    margin-left: var(--baseline);
  }
}

.trackSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  padding: var(--baseline-half);
  background-color: var(--colour-bg);
  border-right: 2px solid var(--colour-black);
  border-bottom: 2px solid var(--colour-black);
}

.trackSummaryIsCurrent {
  background-color: var(--colour-grey-light);
}

.trackClips {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 6rem;
  border-bottom: 2px solid var(--colour-bg);
}

.stepsChooserButton {
  text-transform: capitalize;
}

.stepsChooserButtonIsCurrent {
  color: var(--colour-secondary);
  font-weight: bold;
}

.trackSummaryButtons {
  display: flex;
}

.removeButton {
  margin-left: auto;
  // align-self: flex-end;
  // width: fit-content;
}

// Mute / Solo
.textButton {
  margin-right: var(--baseline-half);
}

.textButtonIsActive {
  color: var(--colour-secondary);
  font-weight: 600;
}

.addTrackButton {
  display: flex;
  margin-top: var(--baseline-half);
  margin-left: var(--baseline-half);
  color: var(--colour-grey-lightest);
  font-size: var(--font-size-sm);
}

.grid {
  @include sequencer-grid;

  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
