@import '../../styles/global.scss';

.select {
  display: block;
}

.select :global(.react-select__control) {
  background: var(--colour-button);
  border-color: var(--colour-grey-dark);

  &:hover {
    border-color: var(--colour-primary);
  }
}

.select :global(.react-select__control--menu-is-open) {
  border-color: var(--colour-primary);
}

.select :global(.react-select__single-value) {
  color: var(--colour-text);
}

.select :global(.react-select__option) {
  color: var(--colour-black);
}

.select :global(.react-select__option--is-selected) {
  background-color: var(--colour-secondary);
}

.select :global(.react-select__option--is-focused),
.select :global(.react-select__option--is-active) {
  background-color: var(--colour-grey-lightest);
}
