@import url('https://rsms.me/inter/inter-ui.css');

body {
  margin: 2em;
  font-family: 'Inter UI', sans-serif;
  color: #333;
}

h1 {
  margin-bottom: 0;
  font-size: 3.5em;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 2.5em;
  margin-top: 1.2em;
}

h3 {
  font-size: 1.5em;
  margin-top: 1.7em;
}

h4 {
  font-size: 1.2em;
  margin-top: 1.5em;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 0;
  font-size: 1em;
  padding: 0.6em;
  margin-right: 1em;
}

.app {
  margin: 0 auto;
  max-width: 50em;
}
