@import '../../styles/global.css';

.dawPlayhead {
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  margin-left: 9rem;
  background-color: var(--colour-primary);
  /* transform: translate(0, 0);
  transition: transform; */
}
