@import '../../styles/global.css';

.dawClip {
  display: flex;
  flex-direction: column;
  width: 16rem;
  /* padding: 2px; */
  background-color: var(--colour-grey);
  border-right: 1px solid var(--colour-bg);
}

.clipCurrent {
  background-color: var(--colour-grey-light);
}

.row {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;

  /* border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2); */
}

/* .row:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
} */

.step {
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.stepIsCurrent {
  background-color: var(--colour-secondary);
  /* border-radius: var(--border-radius-sm); */
}

.clipName {
  position: absolute;
  bottom: 0;
  padding: var(--baseline-half) var(--baseline);
  color: var(--colour-grey-lightest);
  font-size: var(--font-size-sm);
  background-color: rgba(30, 30, 30, 0.9);
  // background-color: var(--colour-grey);
}
