.dawApp {
  display: grid;
  grid-template:
    'header header' auto
    'trackInfo trackSequencer' 1fr
    'trackInfo stepsEditor ' auto /
    15rem auto;
  height: calc(100vh - 2rem);

  & header {
    display: flex;
    grid-area: header;
    align-items: center;
    /* margin-bottom: 1rem; */
    padding-bottom: var(--baseline-2);
    /* border-bottom: 2px dotted var(--colour-grey); */
  }
}

.transport {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.trackInfo {
  grid-area: trackInfo;
}

.trackSequencer {
  display: flex;
  grid-area: trackSequencer;
}

.stepsEditor {
  grid-area: stepsEditor;
}
