@import '../../styles/global.scss';

// @custom-media --viewport-sm (width <= 10rem);

.dawApp {
  display: grid;
  grid-template:
    'header header' auto
    'trackInfo trackSequencer' 1fr
    'trackInfo stepsEditor ' auto /
    15rem auto;
  height: calc(100vh);
  padding: var(--baseline-2);
}

.header {
  display: grid;

  @include media-sm {
    display: flex;
    grid-area: header;
    align-items: center;
    padding-bottom: var(--baseline-2);
  }
}

.menu {
  // @extend .text-uppercase;

  display: flex;
  font-size: var(--font-size-xs);
  list-style: none;

  & li {
    margin-right: var(--baseline-2);
    padding-right: var(--baseline-2);
    border-right: 1px solid var(--colour-grey-light);
  }

  & li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }

  & a:link,
  & a:visited {
    color: var(--colour-white);
  }

  & a:hover,
  & a:active {
    color: var(--colour-secondary);
  }
}

.transport {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.trackInfo {
  grid-area: trackInfo;
}

.trackSequencer {
  display: flex;
  grid-area: trackSequencer;
  width: 100%;
  overflow: auto;
}

.stepsEditor {
  grid-area: stepsEditor;
}
