@import '../../styles/global.scss';

.dawApp {
  display: grid;
  grid-template:
    'header' auto
    'trackSequencer' auto
    'stepsEditor' auto
    'trackInfo' auto /
    auto;
  padding: var(--baseline-1);

  @include media-sm {
    grid-template:
      'header header' auto
      'trackInfo trackSequencer' 1fr
      'trackInfo stepsEditor ' auto /
      15rem auto;
    height: calc(100vh);
    padding: var(--baseline-2);
  }
}

.header {
  display: grid;
  padding-bottom: var(--baseline-2);

  @include media-sm {
    display: flex;
    grid-area: header;
    align-items: center;
  }
}

.logo {
  margin-bottom: var(--baseline-2);

  @include media-sm {
    margin-bottom: 0;
  }
}

.menu {
  @extend .textUppercase;

  display: none;

  @include media-sm {
    display: flex;
    margin-bottom: 0;
    font-size: var(--font-size-xs);
    list-style: none;

    & li {
      margin-right: var(--baseline-2);
      padding-right: var(--baseline-2);
      border-right: 1px solid var(--colour-grey-light);
    }

    & li:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }

    & a:link,
    & a:visited {
      color: var(--colour-white);
    }

    & a:hover,
    & a:active {
      color: var(--colour-secondary);
    }
  }
}

.transport {
  display: flex;

  @include media-sm {
    margin-right: auto;
    margin-left: auto;
  }
}

.trackInfo {
  grid-area: trackInfo;
}

.trackSequencer {
  display: flex;
  grid-area: trackSequencer;
  overflow: auto;
}

.stepsEditor {
  grid-area: stepsEditor;
  margin-bottom: 1rem;

  @include media-sm {
    margin-bottom: 0;
  }
}
