@import '../../styles/global.scss';

body {
  margin: 0;
}

.docApp {
  display: flex;
  flex-direction: column;
  align-items: center;

  & main {
    width: 100%;
    max-width: var(--container-md);
    padding-right: var(--baseline-2);
    padding-left: var(--baseline-2);
  }

  & header {
    // @include sequencer-grid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: var(--baseline-4);
    padding-top: var(--baseline-2);
    padding-bottom: var(--baseline-2);
    background-color: var(--colour-black);

    @include media-sm {
      padding-top: var(--baseline-5);
      padding-bottom: var(--baseline-5);
    }

    & i {
      font-size: var(--font-size-xlg);
    }

    & p {
      margin-bottom: var(--baseline-3);
      font-size: var(--font-size-lg);
      text-align: center;
      // opacity: 0.8;

      @include media-sm {
        margin-bottom: var(--baseline-5);
        font-size: var(--font-size-lg);
      }
    }
  }

  & h2 {
    margin-top: var(--baseline-8);
  }

  & h2:first-child {
    margin-top: 0;
  }

  & p {
    opacity: 0.9;
  }

  & img {
    width: 100%;
    max-width: 30rem;
    border: 1px solid var(--colour-black);
  }

  & code {
    padding: 0 var(--baseline-1);
    background-color: var(--colour-black);
    border-radius: var(--border-radius);
  }

  & footer {
    margin-top: var(--baseline-8);
    margin-bottom: var(--baseline-4);
  }
}

.headerInside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--container-md);
  padding: var(--baseline-5);
  background-color: var(--colour-black);
}

.headerLink {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0;
  margin-bottom: var(--baseline-2);
  font-size: 13vw;

  @include media-sm {
    font-size: 4em;
  }
}
