@import '../../styles/global.css';

body {
  margin: 0;
}

.docApp {
  display: flex;
  flex-direction: column;
  align-items: center;

  & main {
    width: 100%;
    max-width: var(--container-md);
    padding-right: var(--baseline-2);
    padding-left: var(--baseline-2);
  }

  & header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: var(--baseline-4);
    padding-top: var(--baseline-4);
    padding-bottom: var(--baseline-1);
    background-color: var(--colour-black);
    /* border-bottom: 2px solid var(--colour-black); */

    & ion-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  & h2 {
    margin-top: var(--baseline-8);
  }

  & footer {
    margin-top: var(--baseline-8);
    margin-bottom: var(--baseline-4);
  }
}

.headerInside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--container-md);
  padding: var(--baseline-2);
}

.logo {
  font-size: var(--font-size-xxlg);
}

@media (min-width: 40rem) {
  .logo {
    font-size: 3.5em;
  }
}
