.transport {
  display: flex;
  align-items: baseline;
}

.play {
  margin-right: 2em;
}

.bpm {
  display: flex;
  align-items: baseline;
  padding-left: 1rem;
  background-color: var(--colour-black);
  border-radius: var(--border-radius);

  & label {
    margin-right: 1em;
  }
}
