.stepsEditorExample {
  display: block;
}

.stepsChooser {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 1em;
}

.stepsChooserButton {
  text-transform: capitalize;
}

.stepsChooserButtonActive {
  font-weight: bold;
}
